.main-wraper{
    width: 80%;
    margin: 0 auto;
    min-height: 800px;
}

.main{
    padding: 40px;
    margin: 40px 0;
    background-color: whitesmoke;
    height: 850px;
    border-radius: 20px;
    overflow-y:scroll ;
    -webkit-box-shadow: 2px 2px 2px 5px rgb(226, 226, 226); 
    box-shadow:2px 2px 2px 5px rgb(226, 226, 226); 
}
textarea {
    min-height: 400px;
}

.email{
    border: 1px solid rgb(120, 120, 120);
    padding: 8px 10px;
    margin: 1px;
    transition: all .4s;
    border-radius: 2px;
}

.email:hover{
    cursor: pointer;
    transform: scale(1.002);
}

.email p{
    margin: 0;
}

.email .timestamp{
    float: right;
}
.unread{
    background-color: white;
}

.read{
background-color: rgb(230, 230, 230);
}

.compose-submit{
    margin-top: 20px;
}

.actionbtn.btn{
    background-color: rgb(95, 169, 247) !important;
}

.actionbtn.btn:hover{
     background-color: rgb(82, 144, 210) !important;
}